/* Globals */

:root {
  --margin: 4px;
  --padding: 4px;

  --sidebar-width: 300px;
  --page-padding: calc(var(--padding) * 10);
  --content-max-width: 750px;
  --menu-bar-height: 50px;

  font-size: 62.5%;
}

/* Themes */

html,
html[data-theme='light'] {
  --bg: hsl(0, 0%, 100%);
  --fg: #333333;

  --sidebar-bg: #fafafa;
  --sidebar-fg: #364149;
  --sidebar-non-existant: #aaaaaa;
  --sidebar-active: #008cff;
  --sidebar-spacer: #f4f4f4;

  --scroll-fg: #dfdfdf;
  --scroll-fg-hover: #c8c8c8;
  --scroll-fg-active: #b2b2b2;
  --scroll-bg: #f8f8f8;

  --icons: #cccccc;
  --icons-hover: #333333;

  --links: #4183c4;

  --inline-code-color: #6e6b5e;

  --theme-popup-bg: #fafafa;
  --theme-popup-border: #cccccc;
  --theme-hover: #e6e6e6;

  --quote-bg: hsl(197, 37%, 96%);
  --quote-border: hsl(197, 37%, 91%);

  --table-border-color: hsl(0, 0%, 95%);
  --table-header-bg: hsl(0, 0%, 80%);
  --table-alternate-bg: hsl(0, 0%, 97%);
}

html[data-theme='dark'] {
  --bg: hsl(210, 25%, 8%);
  --fg: #c5c5c5;

  --sidebar-bg: #14191f;
  --sidebar-fg: #c8c9db;
  --sidebar-non-existant: #5c6773;
  --sidebar-active: #ffb454;
  --sidebar-spacer: #2d334f;

  --icons: #737480;
  --icons-hover: #b7b9cc;

  --links: #0096cf;

  --inline-code-color: #ffb454;

  --theme-popup-bg: #14191f;
  --theme-popup-border: #5c6773;
  --theme-hover: #191f26;

  --quote-bg: hsl(226, 15%, 17%);
  --quote-border: hsl(226, 15%, 22%);

  --table-border-color: hsl(210, 25%, 13%);
  --table-header-bg: hsl(210, 25%, 28%);
  --table-alternate-bg: hsl(210, 25%, 11%);
}
