/* View Transitions API - MPA cross-document transitions */
@view-transition {
  navigation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.2s;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
